.taxInvoiceHeading {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.amountTaxInvoiceContainer {
  font-size: 12px;
  margin-top: 50px;
  font-weight: 500;
}

.taxInvoiceInfo {
  display: flex;
  justify-content: space-between;
}

.taxInfoIndividual {
  width: 280px;
  margin: 0px;
}
.table {
  width: 100%;
  font-size: 12px;
}
.table td {
  font-weight: 100;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.horizontalLine th {
  border-bottom: 1px solid black;
  padding: 0px;
}
.horizontalLine td {
  border-bottom: 1px solid black;
  padding: 0px;
}
.table th {
  text-align: left;
}

.sign {
  width: 30%;
}

.signContainer {
  display: flex;
  justify-content: space-between;
}

.footer {
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.footerContainer {
  font-size: 12px;
  margin-top: 540px;
}
