@font-face {
  font-family: 'UberMove';
  src: url('./UberMoveBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'UberMove', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
